/* Help center the div */
.center{
    margin: auto;
    width: 10%;
    padding: 10px;
    text-align: center;
    background-color: goldenrod;
}

/* Helps round the corners of the div */
#rcorners{
    border-radius: 25px
}

/* Three.js canvas css edits to help it fill the screen and be behind everything */
canvas {
    width: 100vw;
    height: 100vh;
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    z-index: -9999;
  }

